@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dash Board</h1>

<script>
    $(document).ready(function () {
        var isUserAuthenticated = sharedController.readCookie("EmployeeManage.UserAuthenticated");
        if (isUserAuthenticated == "true") {
            sharedController.eraseCookie("EmployeeManage.UserAuthenticated");
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
            })

            Toast.fire({
                icon: 'success',
                title: 'Signed in successfully'
            })

        }

    });
</script>