@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card bg-primary  mb-3">
            <div class="card-header  text-white"> <h3>New User Register</h3></div>
            <form id="formRegisterUser" asp-area="Authentication"
                  asp-controller="Auth" asp-action="RegisterUser"
                  method="post" data-ajax="true"
                  data-ajax-begin="authController.registerUserOnBegin"
                  data-ajax-complete="authController.registerUserOnComplete"
                  data-ajax-success="authController.registerUserOnSuccess"
                  data-ajax-failure="authController.registerUserOnfailure">

                <div id="ajaxRegisterUserResult">
                    <div class="card-body bg-light text-left">

                        <div class="form-group">
                            <label for="exampleInputPassword1">User Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="User Name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Email Id</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email Id">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>

                <div class="card-footer bg-light">
                    <button type="button" class="btn btn-primary mr-3">
                        <i class="fas fa-user-plus"></i>Register
                    </button>
                    <button type="button" class="btn btn-info">
                        <i class="fas fa-sign-in-alt"></i>Go To Login
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    </div>
</div>