@model CompName.ManageStocks.WebAppMVC.Areas.Admin.Models.UserManagement.ChangeUserAccountPasswordViewModel

<div class="modal" id="modalChangeUserAccountPasswordPopUp" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title blockquote">
                    <strong id="">Change Password</strong>
                </h6>
            </div>
            <form id="formChangeUserAccountPassword"
                  asp-area="Admin" asp-controller="UserManagement" asp-action="ChangeUserAccountPassword"
                  method="post" data-ajax="true"
                  data-ajax-begin="userManagementController.changeUserAccountPasswordOnBegin"
                  data-ajax-complete="userManagementController.changeUserAccountPasswordOnComplete"
                  data-ajax-success="userManagementController.changeUserAccountPasswordOnSuccess"
                  data-ajax-failure="userManagementController.changeUserAccountPasswordOnfailure">
                <div id="ajaxChangeUserAccountPassword">

                    <div class="modal-body" id="">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input asp-for="UserId" type="hidden" id="hdnChangePasswordUserId" />
                                    <input asp-for="UserName" type="hidden" id="hdnChangePasswordUserName" />
                                    <label asp-for="UserName"></label>
                                    <input type="text" asp-for="UserName"
                                           class="form-control" id="txtChangePasswordUserName"
                                           readonly>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" asp-for="Password"
                                           class="form-control" id="txtChangePasswordPassword"
                                           placeholder="Enter Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input type="password" asp-for="ConfirmPassword"
                                           class="form-control" id="txtChangePasswordConfirmPassword"
                                           placeholder="Re-enter Password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnChangeUserAccountStatusPopUpConfirm">
                            <i class="fas fa-save"></i> Save
                        </button>

                        <button type="button" class="btn btn-info" id="btnChangeUserPasswordPopUpCnl">
                            <i class="fas fa-times"></i> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $('#btnChangeUserPasswordPopUpCnl').click(function () {
        $('#modalChangeUserAccountPasswordPopUp').modal('hide');
        $('#modalChangeUserAccountPasswordPopUp').remove();
    });

    $(window).on("load", function () {
        $('#modalChangeUserAccountPasswordPopUp').modal('show');

    });
</script>