@model EmpManage.WebAppMVC.Areas.Admin.Models.DTOs.UserAccountDetailsDTO

@{
    ViewData["Title"] = "GetUserAccountDetailsAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetUserAccountDetailsAsync</h1>

<script>
    $(window).on("load", function () {
        sharedController.navActiveColorChange("nav-item-Admin");
        sharedController.hideLoadingIndicator();

    });
</script>