@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Management</h1>

<script>
    $(document).ready(function () {

        sharedController.navActiveColorChange("nav-item-Admin");

    });
</script>