@page
@model CompName.ManageStocks.WebAppMVC.Areas.Employee.Pages.EmployeeManage.AddProductModel
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddProduct</h1>

