@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-15">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-1" style=" color: #e21212; font-size:larger;font-size: 150px;">

                <i class="fas fa-exclamation-circle"></i>
            </h1>
            <h1 class="display-4 pt-3" style="font-size: 45px;">
                Access Denied!
            </h1>
            <div class="pt-5 " style="font-size: 18px;">
                Access to the requested page has been denied due to in-sufficient access.
            </div>
            <div id="" class="pt-2" style="font-size: 18px;">
                or
            </div>

            <div id="" class="pt-2 pb-5 " style="font-size: 18px;">
                Session has been expired
            </div>

            <div class="">
                <a href='/' class="btn btn-primary btn-lg mr-6" onclick="sharedController.showLoadingIndicator()">
                    <i class="fas fa-home"></i>
                    Take Me Home
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        sharedController.hideLoadingIndicator();
    });
</script>