@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Is Authorized</h1>

<script>

    $(window).on("load", function () {
        sharedController.navActiveColorChange("nav-item-Samples");
        sharedController.hideLoadingIndicator();
    });
</script>