<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="nLogInternal\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- the targets to write to -->

  <targets async="true" throwExceptions="true">

    <!-- write logs to file  -->
    <!--

    <target xsi:type="File" name="allfile" fileName="${basedir}\logs\${shortdate}.log"

            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <target name="LogFileAsync" type="AsyncWrapper" queueLimit="6000" overflowAction="Discard">

      <target type="BufferingWrapper" name="dbAsync" bufferSize="300" flushTimeout="1500">
        <target xsi:type="File" name="allfile" fileName="c:\Logs\nlog-all-${shortdate}.log"
                   layout="${uppercase:${level}}|${longdate}|${aspnet-TraceIdentifier}|${aspnet-request-ip}|${aspnet-request-url}  ${aspnet-item}|${event-properties:item=EventId_Id}|${aspnet-user-identity}|${logger}|${message} ${exception:format=tostring}" />
      </target>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <logger name="Microsoft.*" maxlevel="Fatal" final="true" />

    <logger name="*" minlevel="Info" writeTo="LogFileAsync" />
  </rules>
</nlog>